body {
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.content {
    margin: 2% 4%;
}

.progress_bar {
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 10%;
    border-radius: 10px;
    text-align: center;
    padding: 0;
}

.progress_fill {
    background-color: rgb(128, 199, 243);
    border-radius: 10px;
    padding: 1%;
}

.box_dropdown {
    padding: 1% 3%;
    width: 100%;
    justify-content: left;
    display: block;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    margin: 5% 0;
    color: black;
}

h2 {
    color: rgb(10, 69, 106);
    font-weight: bold;
}

#hidden {
    padding: 1%;
    display: none;
    color: black;
    font-size: 120%;
}

:checked+#hidden {
    color: black;
}

:checked+#hidden {
    display: block;
}


input:checked ~ .check{
    background-color: rgb(128, 199, 243);
}

.checkbox {
    display: inline-block;
    width: 10%;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .check:after {
    display: block;
}



.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
}